
@{
    ViewData["Title"] = "Bookmarks";
}

<h1>Links</h1>
<p>This is a collection of information that has been both inspirational and foundational.</p>
<h2>Bookmarks</h2>
<ul>
    <li>https://www.crockford.com</li>
    <li>https://eloquentjavascript.net/</li>
    <li>https://teachyourselfcs.com/</li>
</ul>
<h2>Favorite Programming / Technology Books</h2>
<ul>
    <li>Structure and Interpretation of Computer Programs</li>
    <li>Refactoring: Improving the Design of Existing Code</li>
    <li>Pro C# 7</li>
    <li>Clean Code, Clean Architecture</li>
    <li>The Pragmatic Programmer</li>
    <li>The Stack: On Software and Sovereignty</li>
    <li>Designing Data Intensive Applications</li>
    <li>JavaScript, The Good Parts</li>
</ul>

