
@{
    ViewData["Title"] = "Bookmarks";
}

<h1>Links</h1>
<p>A collection of information that has been both inspirational and foundational.</p>
<h2>Bookmarks</h2>
<ul>
    <li>Douglas Crockford: <a href="https://www.crockford.com">https://www.crockford.com</a></li>
    <li>Eloquent JavaScript: <a href="https://eloquentjavascript.net">https://www.crockford.com</a></li>
    <li>Teach Yourself CS: <a href="https://teachyourselfcs.com/">https://teachyourselfcs.com/</a></li>
</ul>
<h2>Programming / Technology Books</h2>
<ul>
    <li>Structure and Interpretation of Computer Programs</li>
    <li>Refactoring: Improving the Design of Existing Code</li>
    <li>Pro C# 7</li>
    <li>Clean Code, Clean Architecture</li>
    <li>The Pragmatic Programmer</li>
    <li>The Stack: On Software and Sovereignty</li>
    <li>Designing Data Intensive Applications</li>
    <li>JavaScript, The Good Parts</li>
</ul>

