@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Projects</h1>
    <ul>
        <li><a href="https://github.com/uonai/Fortunae">Fortunæ</a> - A minimalist personal finance tool. (Primary Contributor): Electron, JavaScript, D3.js</li>
        <li><a href="https://github.com/uonai/Athenaeum">Athenaeum</a> - A tool for managing a small library. (Primary Contributor): .NET Core + SQL Server</li>
        <li><a href="https://github.com/uonai/Potentia">Potentia</a> - A WebAPI for calculating a maximum lift for Powerlifting (Primary Contributor): .NET Core</li>
        <li><a href="https://github.com/uonai/Euler">Euler</a> - A web scraper to index and export Euler questions. (Primary Contributor): .NET Core</li>
        <li><a href="https://github.com/filecoin-project/slate">Slate</a> - A tool for creating mood boards. (Past Contributor): NodeJS, ReactJS, Filecoin</li>
        <li><a href="https://uppakoma.webflow.io/">Uppakoma</a> - An events management platform (Past Contributor): .NET Core, MongoDB, ReactNative</li>
        <li><a href="https://www.businesswire.com/news/home/20190904005185/en/Ecolab-Launches-ECOLAB3D%E2%84%A2-Cloud-Platform-Enterprise-Wide-Industrial">Ecolab3D</a> - An IOT Platform for data ingestion and visualization (Past Contributor): .NET Core, Azure Webservices, Angular</li>
    </ul>
    <h1 class="display-4">Skills</h1>
    <ul>
        <li>Front-end development in HTML5, CSS3, and JavaScript</li>
        <li>Data visualization in D3.js and Highcharts.js</li>
        <li>Single page application frameworks: React, Angular</li>
        <li>UI Component Libraries: Material, FluentUI, KendoUI</li>
        <li>Microsoft Azure Technologies: Azure SQL DB, CosmosDB, Serverless Functions, Azure Active Directory, Administration, DevOps, CI/CD</li>
        <li>.NET, .NET Core: API Development in Entity Framework, Unit Testing in Xunit</li>
        <li>Desktop Application development in Electron and WPF (.NET)</li>
        <li>SQL Server: Stored procedures, database administration, database migrations</li>
        <li>Full-stack architecture and consulting</li>
    </ul>
    <a href="~/files/colin-mccaleb-resume.pdf">Download Resume</a> 📄
</div>
