@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Projects</h1>
<h2 class="display-4">Main Projects</h2>
<ul>
    <li><strong>Database Management and Migration:</strong> Led a team of 50 developers in managing and enhancing a modern data warehouse for a leading healthcare company. This project involved processing billions of records through Snowflake and Cosmos DB, utilizing Kafka topics, and deploying Java applications to Azure Kubernetes Service (AKS).</li>
    <li><strong>Healthcare on Azure:</strong> Collaborated with Microsoft and a major consultancy firm to develop applications for the healthcare sector using Azure cloud services. The project included custom application development using .NET, React, Java, Cosmos DB, Azure Synapse, SQL Server, and various FHIR Servers, aiming to modernize healthcare IT infrastructure.</li>
    <li><strong>Ecolab 3D:</strong> Engaged in Angular and .NET development for Ecolab's 3D cloud services platform. This involved creating custom data visualizations and dashboards to display IoT sensor data and rollups, enhancing operational insights for Ecolab. More information can be found at <a href="https://www.businesswire.com/news/home/20190904005185/en/Ecolab-Launches-ECOLAB3D%E2%84%A2-Cloud-Platform-Enterprise-Wide-Industrial">Ecolab Launches ECOLAB3D™</a>.</li>
    <li><strong>World Bicycle Relief:</strong> Designed and developed the website for World Bicycle Relief, a non-profit organization, using PHP and NodeJS. The project involved hosting on Heroku, static website hosting, WPEngine, and developing marketing pages. Additionally, Salesforce integrations were implemented to enhance the organization's operational efficiency.</li>
    <li><strong>SilkRoad Tech:</strong> Provided consulting services to hundreds of clients for the development of onboarding and career site pages, aligning with their website branding. This project required custom development using Visual Basic, JavaScript, HTML, and PHP, showcasing a versatile approach to web development and client branding strategies.</li>
</ul>
<h2 class="display-4">Side Projects / POCs</h2>
    <ul>
        <li><a href="https://github.com/uonai/Fortunae">Fortunæ</a> - A minimalist personal finance tool. || (Primary Contributor): Electron, JavaScript, D3.js</li>
        <li><a href="https://github.com/uonai/Athenaeum">Athenaeum</a> - A tool for managing a small library. || (Primary Contributor): .NET Core + SQL Server</li>
        <li><a href="https://github.com/uonai/Potentia">Potentia</a> - A WebAPI for calculating a maximum lift for Powerlifting. || (Primary Contributor): .NET Core</li>
        <li><a href="https://github.com/uonai/Euler">Euler</a> - A web scraper to index and export Euler questions. || (Primary Contributor): .NET Core</li>
        <li><a href="https://github.com/filecoin-project/slate">Slate</a> - A tool for creating mood boards. || (Past Contributor): NodeJS, ReactJS, Filecoin</li>
        <li><a href="https://uppakoma.webflow.io/">Uppakoma</a> - An events management platform. || (Past Contributor): .NET Core, MongoDB, ReactNative</li>
    </ul>
<h2 class="display-4">Skills</h2>
<h3>Programming Languages</h3>
<ul>
    <li>JavaScript</li>
    <li>C#</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Java</li>
    <li>Python</li>
</ul>

<h3>Front-end Technologies</h3>
<ul>
    <li>React</li>
    <li>Angular</li>
</ul>

<h3>Backend Technologies</h3>
<ul>
    <li>.NET</li>
    <li>Java Spring Boot</li>
    <li>Azure Data Factory</li>
</ul>

<h3>Databases</h3>
<ul>
    <li>SQL Server</li>
    <li>Cosmos DB</li>
    <li>Azure Synapse</li>
    <li>Snowflake</li>
</ul>

<h3>Cloud & DevOps</h3>
<ul>
    <li>Azure Cloud Services</li>
    <li>Docker</li>
    <li>Kubernetes</li>
</ul>

<h3>Specializations</h3>
<ul>
    <li>Full-stack development</li>
    <li>Cloud Engineering</li>
    <li>DevOps</li>
    <li>Data Engineering</li>
</ul>

    <a href="~/files/colin-mccaleb-resume.pdf">Download Resume</a> 📄
</div>
