
@{
    ViewData["Title"] = "Information";
}

<h1>Information</h1>

<p>Colin McCaleb is a full-stack .NET software engineer. He has been building web and desktop applications for 8 years and enjoys digging into new and archaic technologies. Outside of building software, he spends most of his time training in the sport of powerlifting, eating vegan foods, and traveling with his wife, Allie.</p>
<p>He sometimes posts photos on <a href="https://vsco.co/uonai/gallery">VSCO</a> and code at <a href="https://github.com/uonai">GitHub</a></p>

<h2>Prior Professional Work</h2>
<ul>
    <li>2017 - Present: Avanade, Senior Software Engineering Consultant</li>
    <li>2015 - 2017: Full-Stack Web Developer, World Bicycle Relief</li>
    <li>2012 - 2015: Web Developer, SilkRoad Technology</li>
</ul>

<h2>Education</h2>
<ul>
    <li>2008 - 2012: University of North Carolina at Greensboro, BA in Philosophy &amp; English</li>
</ul>

<a href="~/files/colin-mccaleb-resume.pdf">Download Resume</a> 📄


